{% extends 'home/master.html' %}

{% load staticfiles %}

{% block metatag %}
    <meta name="description" content="Build your conversational chatbot on our platform and deploy it over various platforms." />
    <meta property="og:description" content="Build your conversational chatbot on our platform and deploy it over various platforms." />
    <meta property="og:title" content="Login - Nucletech | Intelligent By Nature™">
    <meta property="og:url" content="https://www.nucletech.com/login/">
{% endblock %}

{% block title %}
    Login - Nucletech | Intelligent By Nature™
{% endblock %}

{% block css %}
<style>
    /*mobile*/
    @media (max-width: 767px) {
        .nt-login-container{
            padding-top: 5rem;
            margin-top: 0rem !important;
            margin-bottom: 3rem;
        }.nt-login-img{
            display: none;
        }.uk-width-1-4\@m {
            width: 100% !important;
        }.nt-login-img.nt-med{
            display: none;
        }.nt-login-img.nt-small{
            display: block !important;
            height: max-content !important;
            margin-top: 6rem;
        }
    }
    /* all */
    [class*='uk-inline'] {
        width: 100%;
    }.nt-login-container{
        padding-left: 45px;
        padding-right: 15px;
    }.nt-login button{
        width: 100% !important;
    }.nt-login button span{
        vertical-align: text-top;
    }.nt-text-small{
        font-size: 14px;
    }h3{
        margin-bottom: 0;
        font-family: Poppins,sans-serif;
        border-bottom: solid 1px rgba(0, 0, 0, 0.2);
        font-weight: 900;
        width: max-content;
    }.nt-login-img{
        height: 100vh;
    }.uk-width-3-4\@m {
        width: 66.67%;
    }.uk-width-1-4\@m {
        width: 33.33%;
    }.uk-button-primary{
        background: linear-gradient(to right,#005CFF,#0cf)
    }.nt-login-img img{
        margin-right: auto;
        margin-left: auto;
        display: block;
    }.nt-login-img.nt-small{
        display: none;
    }
</style>
{% endblock %}

{% block body %}

<!-- Navigation Bar uk-background-default-->
<!-- <div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; bottom: #transparent-sticky-navbar"> -->
<nav class="uk-navbar-container uk-navbar-sticky uk-margin" uk-navbar> 
    <div class="uk-navbar-left">
        <a class="uk-navbar-item uk-logo uk-margin-large-left uk-visible@s" href="https://www.nucletech.com">nucletech</a>
        <a class="uk-navbar-item uk-logo uk-margin-left uk-hidden@s" href="https://www.nucletech.com">nucletech</a>
    </div>
    <div class="uk-navbar-right uk-hidden@s">
        <span class="uk-margin-right side-nav-toggle nav-icon-menu" uk-icon="icon: menu; ratio: 1.75"></span>
        <span class="uk-margin-right side-nav-toggle nav-hidden nav-icon-close" uk-icon="icon: close; ratio: 1.5"></span>
    </div>
    <div id="side-nav">
        <div class="side-nav-content">
            <a class="uk-navbar-item uk-logo uk-hidden@s uk-margin-small-top side-nav-logo" href="https://www.nucletech.com">nucletech</a>
            <ul class="uk-margin-top">
                <li class="nt-home uk-active"><a href="https://www.nucletech.com"><span uk-icon="icon: home; ratio: 1" class="uk-margin-right"></span> HOME</a></li>
                <li class="nt-careers"><a href="https://www.nucletech.com/careers/"><span uk-icon="icon: bolt; ratio: 1" class="uk-margin-right"></span> CAREERS</a></li>
                <li class="nt-about"><a href="https://www.nucletech.com/about/"><span uk-icon="icon: info; ratio: 1" class="uk-margin-right"></span> ABOUT US</a></li>
                <li class="nt-login uk-active"><a href="https://www.nucletech.com/login/"><span uk-icon="icon: sign-in; ratio: 1" class="uk-margin-right"></span> LOGIN</a></li>
                <li class="nt-bots"><a href="https://www.nucletech.com/bots/"><span uk-icon="icon: commenting; ratio: 1" class="uk-margin-right"></span> TRY BOTS NOW</a></li>
            </ul>
            <span class="side-nav-bottom">
                <span class="nt-slogan">Intelligent By Nature&TRADE;</span>
                <span class="nt-reg">® NUCLETECH Pvt. Ltd.</span>
                Social Media Logos
            </span>
        </div>
    </div>
    <div class="uk-navbar-right uk-visible@s uk-margin-large-right">
        <ul class="uk-navbar-nav">
            <li class="nt-home uk-active"><a href="https://www.nucletech.com">HOME</a></li>
            <li class="nt-careers"><a href="https://www.nucletech.com/careers/">CAREERS</a></li>
            <li class="nt-about"><a href="https://www.nucletech.com/about/">ABOUT US</a></li>
            <li class="nt-login uk-active"><a href="https://www.nucletech.com/login/">LOGIN</a></li>
            <li class="nt-bots"><a href="https://www.nucletech.com/bots/">TRY OUR BOTS</a></li>
        </ul>
    </div>
</nav>
<!-- </div> -->
<!-- /Navigation Bar -->
<div class="uk-container uk-container-expand">
    <div class="" uk-grid>
        <div class="uk-width-1-1@m nt-login-img nt-small">
            <img class="uk-margin-top" src="{% static 'home/img/login.png' %}" alt="Welcome Back, to keep connected with us please login with your personal info." srcset="">
        </div>
        <div class="uk-margin-xlarge-top uk-width-1-4@m nt-login-container">
            <h3>Login </h3>
            <span class="nt-text-small">Welcome Back, to keep connected with us please login with your personal info.</span>
            <form class="nt-login" method="post">
                {% csrf_token %}
                {% for field in form %}
                    <div class="uk-margin-top">
                        <label class="uk-form-label" for="{{ field.id_for_label }}">{{ field.label }}</label><br>
                        <div class="uk-inline">
                            {% if field.html_name in 'id_username' %}
                            <span class="uk-form-icon" uk-icon="icon: mail"></span>
                            <input class="uk-input" id="{{ field.id_for_label }}" name="{{ field.html_name }}" type="email" placeholder="Email ID" autofocus required>
                            {% else %}
                            <span class="uk-form-icon" uk-icon="icon: lock"></span>
                            <input class="uk-input" id="{{ field.id_for_label }}" name="{{ field.html_name }}" type="{{ field.field.widget.input_type }}" placeholder="Password" required><br>
                            {% endif %}
                        </div>
                        {{ field.errors }}
                    </div>
                {% endfor %}
                <a href="https://www.nucletech.com/passwordreset/" class="nt-text-small">Forgot Password?</a>
                <button class="uk-button uk-button-primary uk-margin-top" type="submit">LOGIN <span uk-icon="icon: arrow-right; ratio: 1.1"></span></button><br>
                <div class="uk-margin-small-top uk-text-center">
                    <a href="https://www.nucletech.com/register/" class="">Register Now</a>
                </div>
            </form>
        </div>
        <div class="uk-width-3-4@m nt-login-img nt-med">
            <img class="uk-margin-xlarge-top" data-src="{% static 'home/img/login.png' %}" alt="Welcome Back, to keep connected with us please login with your personal info." srcset="">
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
{% endblock %}