{% extends 'home/master.html' %}

{% load staticfiles %}

{% block metatag %}
<!-- http://ogp.me/#types
     https://neilpatel.com/blog/open-graph-meta-tags/ -->
{% endblock %}

{% block title %}
    Comming Soon - Nucletech | Intelligent By Nature™
{% endblock %}

{% block css %}

{% endblock %}

{% block body %}
<div class="uk-flex-center" uk-grid>
    <div class="uk-margin-xlarge-top uk-text-justify uk-width-2-3@m">
        <h1>Privacy Policy</h1>
        
    </div>
</div>
{% endblock %}

{% block javascript %}

{% endblock %}