{% extends 'home/master.html' %}

{% load staticfiles %}

{% block metatag %}
<!-- http://ogp.me/#types
     https://neilpatel.com/blog/open-graph-meta-tags/ -->
{% endblock %}

{% block title %}
    Comming Soon - Nucletech | Intelligent By Nature™
{% endblock %}

{% block css %}

{% endblock %}

{% block body %}
<div class="uk-margin-xlarge-top uk-flex-center" uk-grid>
    <div class="uk-text-justify uk-width-3-4@m">
        <h1>Terms Of Use</h1>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab non commodi dignissimos minima totam, molestiae quisquam esse ex in vitae natus dolorem. Quam dolore veritatis aperiam beatae similique ipsum nesciunt.
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet iure mollitia accusantium hic corrupti eligendi quod animi, vel, saepe ipsum quo placeat quaerat perferendis non voluptas consequuntur facere voluptatum sapiente.
    </div>
</div>
{% endblock %}

{% block javascript %}

{% endblock %}