{% extends 'home/master.html' %}

{% load staticfiles %}

{% block metatag %}
<!-- http://ogp.me/#types
     https://neilpatel.com/blog/open-graph-meta-tags/ -->
{% endblock %}

{% block title %}
    Comming Soon - Nucletech | Intelligent By Nature™
{% endblock %}

{% block css %}

{% endblock %}

{% block body %}
<div class="uk-flex-center" uk-grid>
    <div class="uk-margin-xlarge-top uk-text-justify uk-width-2-3@m">
        <h1>Terms Of Use</h1>
        <h3>1. Agreement to Terms</h3>
        1.1  These Terms and Conditions constitute a legally binding agreement made between you, whether personally or on behalf of an entity (you), and Nucletech Pvt Ltd, located at Mumbai, Maharashtra 400094 India (we, us), concerning your access to and use of the Nucletech Website / App (https://www.nucletech.com) website as well as any related applications (the Site).  

        The Site provides the following product: Chatbot (product). You agree that by accessing the Site and/or Product, you have read, understood, and agree to be bound by all of these Terms and Conditions.  

        If you do not agree with all of these Terms and Conditions, then you are prohibited from using the Site and Product and you must discontinue use immediately.<br>

        1.2  The supplemental policies set out in Section 1.7 below, as well as any supplemental terms and condition or documents that may be posted on the Site from time to time, are expressly incorporated by reference.  
        <br>
        1.3  We may make changes to these Terms and Conditions at any time. The updated version of these Terms and Conditions will be indicated by an updated “Revised” date and the updated version will be effective as soon as it is accessible. You are responsible for reviewing these Terms and Conditions to stay informed of updates. Your continued use of the Site represents that you have accepted such changes.  
        <br>
        1.4  We may update or change the Site from time to time to reflect changes to our products, our users' needs and/or our business priorities.  
        <br>
        1.5  The information provided on the Site is not intended for distribution to or use by any person or entity in any jurisdiction or country where such distribution or use would be contrary to law or regulation or which would subject us to any registration requirement within such jurisdiction or country.   
        <br>
        1.6  The Site is intended for users who are at least 18 years old.  If you are under the age of 18, you are not permitted to register for the Site or use the Services without parental permission. 
        <br>
        <h3>2. Acceptable Use</h3>
        2.1  Our full Acceptable Use Policy HTTP://www.nucletech.com/privacy, sets out all the permitted uses and prohibited uses of this site.
        <br>
        2.2  You may not access or use the Site for any purpose other than that for which we make the site and our services available. The Site may not be used in connection with any commercial endeavors except those that are specifically endorsed or approved by us.  
        <br>
        2.3  As a user of this Site, you agree not to:  
        <br>
        ● Systematically retrieve data or other content from the Site to a compile database or directory without written permission from us  
        <br>● Make any unauthorized use of the Site, including collecting usernames and/or email addresses of users to send unsolicited email or creating user accounts under false pretenses  
        <br>● Use a buying agent or purchasing agent to make purchases on the Site  
        <br>● Use the Site to advertise or sell goods and services  
        <br>● Circumvent, disable, or otherwise interfere with security-related features of the Site, including features that prevent or restrict the use or copying of any content or enforce limitations on the use  
        <br>● Engage in unauthorized framing of or linking to the Site  
        <br>● Trick, defraud, or mislead us and other users, especially in any attempt to learn sensitive account information such as user passwords  
        <br>● Make improper use of our support services, or submit false reports of abuse or misconduct  
        <br>● Engage in any automated use of the system, such as using scripts to send comments or messages, or using any data mining, robots, or similar data gathering and extraction tools  
        <br>● Interfere with, disrupt, or create an undue burden on the Site or the networks and services connected to the Site  
        <br>● Attempt to impersonate another user or person, or use the username of another user  
        <br>● Sell or otherwise transfer your profile  
        <br>● Use any information obtained from the Site in order to harass, abuse, or harm another person  
        <br>● Use the Site or our content as part of any effort to compete with us or to create a revenue-generating endeavor or commercial enterprise  
        <br>● Decipher, decompile, disassemble, or reverse engineer any of the software comprising or in any way making up a part of the Site  
        <br>● Attempt to access any portions of the Site that you are restricted from accessing  
        <br>● Harass, annoy, intimidate, or threaten any of our employees, agents, or other users  
        <br>● Delete the copyright or other proprietary rights notice from any of the content  
        <br>● Copy or adapt the Site’s software, including but not limited to Flash, PHP, HTML, JavaScript, or other code  
        <br>● Upload or transmit (or attempt to upload or to transmit) viruses, Trojan horses, or other material that interferes with any party’s uninterrupted use and enjoyment of the Site, or any material that acts as a passive or active information collection or transmission mechanism  
        <br>● Use, launch, or engage in any automated use of the system, such as using scripts to send comments or messages, robots, scrapers, offline readers, or similar data gathering and extraction tools  
        <br>● Disparage, tarnish, or otherwise harm, in our opinion, us and/or the Site  
        <br>● Use the Site in a manner inconsistent with any applicable laws or regulations  
        <br>● Threaten users with negative feedback or offering services solely to give positive feedback to users  
        <br>● Misrepresent experience, skills, or information about a User  
        <br>● Advertise products or services not intended by us 
        <br>● Falsely imply a relationship with us or another company with whom you do not have a relationship   
        <br>
        
    </div>
</div>
{% endblock %}

{% block javascript %}

{% endblock %}