{% extends 'home/master.html' %}

{% load staticfiles %}

{% block metatag %}
<!-- http://ogp.me/#types
     https://neilpatel.com/blog/open-graph-meta-tags/ -->
{% endblock %}

{% block title %}
    Comming Soon - Nucletech | Intelligent By Nature™
{% endblock %}

{% block css %}

{% endblock %}

{% block body %}
<div class="uk-flex-center" uk-grid>
    <div class="uk-margin-xlarge-top uk-text-justify uk-width-2-3@m">
        <h1>Terms Of Use</h1>
        <h3>Agreement to Terms</h3>
        These Terms and Conditions constitute a legally binding agreement made between you, whether personally or on behalf of an entity (you), and Nucletech Pvt Ltd, located at Mumbai, Maharashtra 400094 India (we, us), concerning your access to and use of the Nucletech Website / App (https://www.nucletech.com) website as well as any related applications (the Site).  

        The Site provides the following product: Chatbot (product). You agree that by accessing the Site and/or Product, you have read, understood, and agree to be bound by all of these Terms and Conditions.  

        If you do not agree with all of these Terms and Conditions, then you are prohibited from using the Site and Product and you must discontinue use immediately.<br>

        The supplemental policies set out below, as well as any supplemental terms and condition or documents that may be posted on the Site from time to time, are expressly incorporated by reference.  
        <br>
        We may make changes to these Terms and Conditions at any time. The updated version of these Terms and Conditions will be indicated by an updated “Revised” date and the updated version will be effective as soon as it is accessible. You are responsible for reviewing these Terms and Conditions to stay informed of updates. Your continued use of the Site represents that you have accepted such changes.  
        <br>
        We may update or change the Site from time to time to reflect changes to our products, our users' needs and/or our business priorities.  
        <br>
        The information provided on the Site is not intended for distribution to or use by any person or entity in any jurisdiction or country where such distribution or use would be contrary to law or regulation or which would subject us to any registration requirement within such jurisdiction or country.   
        <br>
        The Site is intended for users who are at least 18 years old.  If you are under the age of 18, you are not permitted to register for the Site or use the Services without parental permission. 
        <br>
        <h3>Acceptable Use</h3>
        Our full Acceptable Use Policy HTTP://www.nucletech.com/privacy, sets out all the permitted uses and prohibited uses of this site.
        <br>
        You may not access or use the Site for any purpose other than that for which we make the site and our services available. The Site may not be used in connection with any commercial endeavors except those that are specifically endorsed or approved by us.  
        <br>
        As a user of this Site, you agree not to:  
        <br>
        ● Systematically retrieve data or other content from the Site to a compile database or directory without written permission from us  
        <br>● Make any unauthorized use of the Site, including collecting usernames and/or email addresses of users to send unsolicited email or creating user accounts under false pretenses  
        <br>● Use a buying agent or purchasing agent to make purchases on the Site  
        <br>● Use the Site to advertise or sell goods and services  
        <br>● Circumvent, disable, or otherwise interfere with security-related features of the Site, including features that prevent or restrict the use or copying of any content or enforce limitations on the use  
        <br>● Engage in unauthorized framing of or linking to the Site  
        <br>● Trick, defraud, or mislead us and other users, especially in any attempt to learn sensitive account information such as user passwords  
        <br>● Make improper use of our support services, or submit false reports of abuse or misconduct  
        <br>● Engage in any automated use of the system, such as using scripts to send comments or messages, or using any data mining, robots, or similar data gathering and extraction tools  
        <br>● Interfere with, disrupt, or create an undue burden on the Site or the networks and services connected to the Site  
        <br>● Attempt to impersonate another user or person, or use the username of another user  
        <br>● Sell or otherwise transfer your profile  
        <br>● Use any information obtained from the Site in order to harass, abuse, or harm another person  
        <br>● Use the Site or our content as part of any effort to compete with us or to create a revenue-generating endeavor or commercial enterprise  
        <br>● Decipher, decompile, disassemble, or reverse engineer any of the software comprising or in any way making up a part of the Site  
        <br>● Attempt to access any portions of the Site that you are restricted from accessing  
        <br>● Harass, annoy, intimidate, or threaten any of our employees, agents, or other users  
        <br>● Delete the copyright or other proprietary rights notice from any of the content  
        <br>● Copy or adapt the Site’s software, including but not limited to Flash, PHP, HTML, JavaScript, or other code  
        <br>● Upload or transmit (or attempt to upload or to transmit) viruses, Trojan horses, or other material that interferes with any party’s uninterrupted use and enjoyment of the Site, or any material that acts as a passive or active information collection or transmission mechanism  
        <br>● Use, launch, or engage in any automated use of the system, such as using scripts to send comments or messages, robots, scrapers, offline readers, or similar data gathering and extraction tools  
        <br>● Disparage, tarnish, or otherwise harm, in our opinion, us and/or the Site  
        <br>● Use the Site in a manner inconsistent with any applicable laws or regulations  
        <br>● Threaten users with negative feedback or offering services solely to give positive feedback to users  
        <br>● Misrepresent experience, skills, or information about a User  
        <br>● Advertise products or services not intended by us 
        <br>● Falsely imply a relationship with us or another company with whom you do not have a relationship   
        <br>
        <h3>Information you provide to us</h3>
        You represent and warrant that: (a) all registration information you submit will be true, accurate, current, and complete and relate to you and not a third party; (b) you will maintain the accuracy of such information and promptly update such information as necessary; (c) you will keep your password confidential and will be responsible for all use of your password and account; (d) you have the legal capacity and you agree to comply with these Terms and Conditions; and (e) you are not a minor in the jurisdiction in which you reside, or if a minor, you have received parental permission to use the Site.  

        If you know or suspect that anyone other than you knows your user information (such as an identification code or user name) and/or password you must promptly notify us at hello@nucletech.com.
        <br>
        If you provide any information that is untrue, inaccurate, not current or incomplete, we may suspend or terminate your account. We may remove or change a user name you select if we determine that such user name is inappropriate.  
        <br>
        As part of the functionality of the Site, you may link your account with online accounts you may have with third party service providers (each such account, a Third Party Account) by either: (a) providing your Third Party Account login information through the Site; or (b) allowing us to access your Third Party Account, as is permitted under the applicable terms and conditions that govern your use of each Third Party Account. 

        You represent that you are entitled to disclose your Third Party Account login information to us and/or grant us access to your Third Party Account without breach by you of any of the terms and conditions that govern your use of the applicable Third Party Account and without obligating us to pay any fees or making us subject to any usage limitations imposed by such third party service providers. 
        <br>
        By granting us access to any Third Party Accounts, you understand that (a) we may access, make available and store (if applicable) any content that you have provided to and stored in your Third Party Account (the “Social Network Content”) so that it is available on and through the Site via your account, including without limitation any friend lists;  and (b) we may submit and receive additional information to your Third Party Account to the extent you are notified when you link your account with the Third Party Account.  
        <br>
        Depending on the Third Party Accounts you choose and subject to the privacy settings that you have set in such Third Party Accounts, personally identifiable information that you post to your Third Party Accounts may be available on and through your account on the Site. Please note that if a Third Party Account or associated service becomes unavailable or our access to such Third Party Account is terminated by the third party service provider, then Social Network Content may no longer be available on and through the Site. 
        <br>
        You will have the ability to disable the connection between your account on the Site and your Third Party Accounts at any time. Please note that your relationship with the third party service providers associated with your third party accounts is governed solely by your agreement(s) with such third party service providers.  We make no effort to review any Social Network Content for any purpose, including but not limited to, for accuracy, legality or non-infringement, and we are not responsible for any Social Network Content. 
        <br>
        You acknowledge and agree that we may access your email address book associated with a Third Party Account and your contacts list stored on your mobile device or tablet computer solely for purposes of identifying and informing you of those contacts who have also registered to use the Site. At your email request to hello@nucletech.com or through your account settings (if applicable), we will deactivate the connection between the Site and your Third Party Account and attempt to delete any information stored on our servers that was obtained through such Third Party Account, except the username and profile picture that became associated with your account.   
        <h3>Content you provide to us</h3>
        There may be opportunities for you to post content to the Site or send feedback to us (User Content). You understand and agree that your User Content may be viewed by other users on the Site, and that they may be able to see who has posted that User Content.  
        <br>
        You further agree that we can use your User Content for any other purposes whatsoever in perpetuity without payment to you, and combine your User Content with other content for use within the Site and otherwise. We do not have to attribute your User Content to you. When you upload or post content to our site, you grant us the following rights to use that content:   
        Licenses Granted to Website Owner:  <br>
        &Tab;● <i>Length of time: 20 YEARS; Purpose: OWENER       </i>
        <br>
        You warrant that any User Content does comply with our Acceptable Use Policy, and you will be liable to us and indemnify us for any breach of that warranty. This means you will be responsible for any loss or damage we suffer as a result of your breach of this warranty. 
        <br>
        We have the right to remove any User Content you put on the Site if, in our opinion, such User Content does not comply with the Acceptable Use Policy.  
        <br>
        We are not responsible and accept no liability for any User Content including any such content that contains incorrect information or is defamatory or loss of User Content. We accept no obligation to screen, edit or monitor any User Content but we reserve the right to remove, screen and/or edit any User Content without notice and at any time. User Content has not been verified or approved by us and the views expressed by other users on the Site do not represent our views or values 
        <br>
        If you wish to complain about User Content uploaded by other users please contact us at hello@nucletech.com or use the take down or report button. 
        <h3>Our content</h3>
        Unless otherwise indicated, the Site and Services including source code, databases, functionality, software, website designs, audio, video, text, photographs, and graphics on the Site (Our Content) are owned or licensed to us, and are protected by copyright and trade mark laws.   

        Except as expressly provided in these Terms and Conditions, no part of the Site, Services or Our Content may be copied, reproduced, aggregated, republished, uploaded, posted, publicly displayed, encoded, translated, transmitted, distributed, sold, licensed, or otherwise exploited for any commercial purpose whatsoever, without our express prior written permission. 
        <br>
        Provided that you are eligible to use the Site, you are granted a limited licence to access and use the Site and Our Content and to download or print a copy of any portion of the Content to which you have properly gained access solely for your personal, non-commercial use.   
        <br>
        You shall not (a) try to gain unauthorised access to the Site or any networks, servers or computer systems connected to the Site; and/or (b) make for any purpose including error correction, any modifications, adaptions, additions or enhancements to the Site or Our Content, including the modification of the paper or digital copies you may have downloaded. 

        We shall (a) prepare the Site and Our Content with reasonable skill and care; and (b) use industry standard virus detection software to try to block the uploading of content to the Site that contains viruses.  
        <br>
        The content on the Site is provided for general information only. It is not intended to amount to advice on which you should rely. You must obtain professional or specialist advice before taking, or refraining from taking, any action on the basis of the content on the Site.  

         Although we make reasonable efforts to update the information on our site, we make no representations, warranties or guarantees, whether express or implied, that Our Content on the Site is accurate, complete or up to date.   
        <h3>Link to third party content</h3>
        The Site may contain links to websites or applications operated by third parties.We do not have any influence or control over any such third party websites or applications or the third party operator. We are not responsible for and do not endorse any third party websites or applications or their availability or content.
        We accept no responsibility for adverts contained within the Site. If you agree to purchase goods and/or services from any third party who advertises in the Site, you do so at your own risk. The advertiser, and not us, is responsible for such goods and/or services and if you have any questions or complaints in relation to them, you should contact the advertiser. 
        <h3>Site Management</h3>
        We do not guarantee that the Site will be secure or free from bugs or viruses. You are responsible for configuring your information technology, computer programs and platform to access the Site and you should use your own virus protection software.  
        <h3>Modifications to and availability of the Site</h3>
        We reserve the right to change, modify, or remove the contents of the Site at any time or for any reason at our sole discretion without notice. We also reserve the right to modify or discontinue all or part of the Services without notice at any time.
        We cannot guarantee the Site and Services will be available at all times. We may experience hardware, software, or other problems or need to perform maintenance related to the Site, resulting in interruptions, delays, or errors. You agree that we have no liability whatsoever for any loss, damage, or inconvenience caused by your inability to access or use the Site or Services during any downtime or discontinuance of the Site or Services.We are not obliged to maintain and support the Site or Services or to supply any corrections, updates, or releases.
        There may be information on the Site that contains typographical errors, inaccuracies, or omissions that may relate to the Services, including descriptions, pricing, availability, and various other information. We reserve the right to correct any errors, inaccuracies, or omissions and to change or update the information at any time, without prior notice.
    </div>
</div>
{% endblock %}

{% block javascript %}

{% endblock %}