.nav-hidden{
    display: none;
    opacity: 0;
}#side-nav{
    background: rgba(0,0,0,0.05);
    transition: 0.75s;
    overflow-x: hidden;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 998;
    top: 0;
    left: 0;
}#side-nav .side-nav-content{
    position: relative;
    width: 80vw;
    background: #FFF;
    height: 100vh;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    z-index: 999;
}#side-nav .side-nav-content ul{
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}#side-nav .side-nav-content ul li{
    padding: 15px;
    margin-left: 15px;
}#side-nav .side-nav-toggle{
    transition: all 2s linear;/* animmate mobile menu here */
}#side-nav .side-nav-content ul li a{
    color: rgba(0,0,0,0.5);
}#side-nav .side-nav-content ul li a span{
    vertical-align: top;
    display: inline-block;
}#side-nav .side-nav-content ul li.uk-active{
    background: rgb(0, 204, 255);
}#side-nav .side-nav-content ul li.uk-active a{
    color: #FFFFFF;
}#side-nav .side-nav-content .side-nav-bottom{
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
}#side-nav .side-nav-content .nt-reg{
    display: block;
    width: 100%;
    font-size: 14px;
    margin-top: 15px;
    color: rgba(0,0,0,0.5);
}#side-nav .side-nav-content .side-nav-logo{
    display: inline-flex;
    text-align: center;
    width: 100%;
}.uk-navbar-container .uk-button{
    padding: 5px 15px;
    line-height: inherit;
}.uk-navbar-nav .uk-active{
    border-bottom: solid 3px #005CFF;
}.uk-navbar-container{
    position: fixed;
    width: 100%;
    height: 75px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background: transparent !important;
    z-index: 9999 !important;
}.uk-navbar-container.nav-bar{
    height: 59px !important;
    background: #FFFFFF !important;
    box-shadow: 0 0px 10px 2px rgba(0, 0, 0, 0.1);
}input.uk-input{
    color: rgba(0,0,0,0.7);
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}input:focus{
    background: #FFF !important;
    border: solid 1px rgba(0, 0, 0, 0.1) !important;
}.nt-footer-slogan{
    font-size: 14px;
    color: black;
    font-size: 600;
}.nt-footer-copyright{
    font-size: 12px;
    color: rgba(0,0,0,0.65);
    font-size: 600;
}.nt-footer-nav{
    color: rgba(0,0,0,0.6);
    margin-left: 25px;
}.nt-footer-nav:first-child{
    margin-left: 0px;
}.nt-footer-nav:hover{
    text-decoration: none;
    color: black;
}.nt-footer-subnav{
    color: rgb(0, 153, 255);
}.nt-footer-subnav:hover{
    text-decoration: none;
    color: rgb(0, 153, 255);
}.nt-footer{
    border-bottom: solid 10px #005CFF;
}