<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="mobile-web-app-capable" content="yes">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block metatag %} {% endblock %}
    <meta name="robots" content="none">
    <link rel="shortcut icon" type="image/png" href="{% static 'home/img/favicon.png' %}"/>
    <title>{% block title %} {% endblock %}</title>
    <!-- CSS Code -->
    <link rel="stylesheet" href="{% static 'home/css/nucletech.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/main.css' %}">
    <!-- Google Font for Logo -->
    <link href="https://fonts.googleapis.com/css?family=Paytone+One|Poppins" rel="stylesheet">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-143786996-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-143786996-1');
    </script>
    {% block css %} {% endblock %}
</head>
<body>
    <!-- Navigation Bar uk-background-default-->
    <!-- <div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; bottom: #transparent-sticky-navbar"> -->
        <nav class="uk-navbar-container uk-navbar-sticky uk-margin" uk-navbar> 
            <div class="uk-navbar-left">
                <a class="uk-navbar-item uk-logo uk-margin-large-left uk-visible@s" href="https://www.nucletech.com">nucletech</a>
                <a class="uk-navbar-item uk-logo uk-margin-left uk-hidden@s" href="https://www.nucletech.com">nucletech</a>
            </div>
            <div class="uk-navbar-right uk-hidden@s">
                <span class="uk-margin-right side-nav-toggle nav-icon-menu" uk-icon="icon: menu; ratio: 1.75"></span>
                <span class="uk-margin-right side-nav-toggle nav-hidden nav-icon-close" uk-icon="icon: close; ratio: 1.5"></span>
            </div>
            <div id="side-nav">
                <div class="side-nav-content">
                    <a class="uk-navbar-item uk-logo uk-hidden@s uk-margin-small-top side-nav-logo" href="https://www.nucletech.com">nucletech</a>
                    <ul class="uk-margin-top">
                        <li class="uk-active"><a href="https://www.nucletech.com/builder"><span uk-icon="icon: home; ratio: 1" class="uk-margin-right"></span> PROJECTS</a></li>
                        <li><a href="https://www.nucletech.com/builder/billing"><span uk-icon="icon: info; ratio: 1" class="uk-margin-right"></span> BILLING</a></li>
                        <li><a href="https://www.nucletech.com/builder/profile"><span uk-icon="icon: sign-in; ratio: 1" class="uk-margin-right"></span> PROFILE</a></li>
                        <li><a href="https://www.nucletech.com/logout"><span uk-icon="icon: commenting; ratio: 1" class="uk-margin-right"></span> LOGOUT</a></li>
                    </ul>
                    <span class="side-nav-bottom">
                        <span class="nt-slogan">Intelligent By Nature</span>
                        <span class="nt-reg">® NUCLETECH Pvt. Ltd.</span>
                        Social Media Logos
                    </span>
                </div>
            </div>
            <div class="uk-navbar-right uk-visible@s uk-margin-large-right">
                <ul class="uk-navbar-nav">
                    <li class="uk-active"><a href="https://www.nucletech.com/builder">PROJECTS</a></li>
                    <li><a href="https://www.nucletech.com/builder/billing">BILLING</a></li>
                    <li><a href="https://www.nucletech.com/builder/profile">PROFILE</a></li>
                    <li><a href="https://www.nucletech.com/logout">LOGOUT</a></li>
                </ul>
            </div>
        </nav>
    <!-- </div> -->
    <!-- /Navigation Bar -->

    {% block body %} {% endblock %}
    
    <!-- Footer -->
    <footer>
        <div class="uk-container uk-container-expand uk-padding-remove uk-margin-medium-top">
            <div class="uk-text-center" uk-grid>
                <div class="uk-width-1-5@l">
                    <a class="uk-logo" href="https://www.nucletech.com">nucletech</a><br>
                    © Copyright - 2018
                </div>
                <div class="uk-width-3-5@l">
                    ® NUCLETECH Pvt. Ltd. - 2019<br>
                </div>
                <div class="uk-width-1-5@l">Media Links</div>
            </div>
        </div>
    </footer>
    <!-- Footer -->
    <!-- Javascript Code -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{% static 'home/js/uikit.min.js' %}"></script>
    <script src="{% static 'home/js/uikit-icons.min.js' %}"></script>
    <script src="{% static 'home/js/main.js' %}"></script>
    {% block javascript %} {% endblock %}
</body>
</html>