{% extends 'builder/master.html' %}

{% load staticfiles %}

{% block metatag %}
{% endblock %}

{% block title %}
    Nucletech | Builder
{% endblock %}

{% block css %}
<style>
    /* mobile */
    @media (max-width: 767px) {
        .nt-home-builder{
            padding: 8rem 2.5rem !important;
            padding-bottom: 2rem !important;
        }
    }

    /* tablet */
    @media (min-width: 768px) and (max-width: 991px) {

    }

    /* desktop */
    @media (min-width: 992px) {

    }
    /* all */
    .uk-navbar-container{
        z-index: 999 !important;
    }.nt-home-builder{
        min-height: 100px;
        padding: 8rem 5.3rem;
        padding-bottom: 4rem;
        background: linear-gradient(to bottom,rgb(0, 162, 255), rgb(0, 204, 255));
        color: rgba(0, 0, 0, 0.6);
        z-index: 1 !important;
        position: relative;
    }.nt-right-home-builder h2{
        font-family: 'Poppins', sans-serif;
        font-weight: 800;
        margin-bottom: 0;
        color: #FFF;
    }.nt-right-home-builder .uk-button{
        background-color: rgb(255, 230, 55);
    }input{
        background: #FFF !important;
        border: solid 1px rgba(0, 0, 0, 0.2) !important;
    }input:focus{
        border: solid 1px rgba(0, 0, 0, 0.2) !important;
    }input:disabled{
        background: #eee !important;
        color: rgba(0, 0, 0, 0.5) !important;
        cursor: not-allowed;
        -webkit-user-select: none !important;  /* Chrome all / Safari all */
        -moz-user-select: none !important;     /* Firefox all */
        -ms-user-select: none !important;      /* IE 10+ */
        user-select: none !important;
    }.uk-button{
        float: right;
    }.nt-right-home-builder .uk-button{
        padding: 0 10px;
    }.nt-right-home-builder .uk-button span{
        vertical-align: text-top;
        z-index: 1 !important;
    }.nt-left-home-builder{
        position: relative;
        z-index: 1 !important;
    }.nt-left-home-builder span{
        color: #FFF;
        position: absolute;
        z-index: 1 !important;
    }.nt-left-home-builder .nt-quote{
        padding: 1rem;
        padding-top: 1.5rem;
        z-index: 1 !important;
    }.nt-testimonial{
        z-index: 1 !important;
    }.nt-block{
        border: solid 1px rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        padding: 16px;
        position: relative;
    }.nt-block-heading{
        position: absolute;
        left: 15px;
        top: -15px;
        background: #FFF;
        padding: 2.5px;
    }.uk-margin-top-remove{
        margin-top: 0 !important;
    }
</style>
{% endblock %}

{% block body %}
<div class="uk-container uk-container-expand uk-padding-remove">
    <div class="nt-home-builder" uk-grid>
        <div class="uk-width-1-2@m nt-left-home-builder">
            <div class="nt-testimonial">
                <span uk-icon="icon: quote-right; ratio: 2"></span>
                <div class="nt-quote uk-text-left uk-dropcap">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint iure nam facere. Rerum, dolor distinctio! Dolore nemo dignissimos laboriosam consequuntur accusantium repellat explicabo blanditiis a. Esse dolor nam rem maiores.
                </div>
            </div>
        </div>
        <div class="uk-width-1-2@m nt-right-home-builder">
            <h2>Profile Settings</h2>
            <span>Aquiring, engaging and retaining customers was never easy before, what are you waiting for?</span><br>
        </div>
    </div>
    <div class="uk-flex-center" uk-grid>
        <div class="uk-width-4-5@m">
            <div uk-grid>
                <div class="uk-width-1-2@m">
                    <div class="nt-block">
                        <form method="POST">
                            <span class="nt-block-heading">Personal Details</span>
                            <div uk-grid>
                                <div class="uk-width-1-2@m">
                                    <div class="uk-margin">
                                        <label class="uk-form-label">First Name</label>
                                        <div class="uk-form-controls">
                                            <input class="uk-input" type="text" value="{{request.user.first_name}}" disabled>
                                        </div>
                                    </div>
                                    <input type="hidden" name="type" value="p3easddkxmajksd6asd5asdd5a5d2ad5asd5as5d5">
                                    {% csrf_token %}
                                </div>
                                <div class="uk-width-1-2@m">
                                    <div class="uk-margin">
                                        <label class="uk-form-label">Last Name</label>
                                        <div class="uk-form-controls">
                                            <input class="uk-input" type="text" value="{{request.user.last_name}}" disabled>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="uk-margin-top-remove" uk-grid>
                                <div class="uk-width-1-2@m">
                                    <div class="uk-margin">
                                        <label class="uk-form-label">Email Id</label>
                                        <div class="uk-form-controls">
                                            <input class="uk-input" type="email" value="{{request.user.email}}" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-width-1-2@m">
                                    <div class="uk-margin">
                                        <label class="uk-form-label" for="nt-mobile">Mobile Number</label>
                                        <div class="uk-form-controls">
                                            <input class="uk-input" id="nt-mobile" name="ntmobile" type="text" placeholder="9869651900" value="{{request.user.mobile}}">
                                        </div>
                                    </div>
                                    <button class="uk-button" type="submit">UPDATE</button>
                                    {% if request.user.mobile and not request.user.mobile_verified %}
                                    <button class="uk-button uk-margin-right" type="button" id="nt-verify">VERIFY</button>
                                    {% endif %}
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="uk-width-1-2@m">
                    <div class="nt-block">
                        <span class="nt-block-heading">Access Key & Coupons</span>
                        <div uk-grid>
                            <div class="uk-width-1-1@m">
                                <div class="uk-margin">
                                    <label class="uk-form-label">Access Key</label>
                                    <div class="uk-form-controls">
                                        <input class="uk-input" type="text" value="{{accesskey}}" disabled>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="uk-margin-top-remove" uk-grid>
                            <div class="uk-margin-top uk-width-1-1@m">
                                <div class="uk-margin">
                                    <label class="uk-form-label">Coupon Code</label>
                                    <div class="uk-form-controls">
                                        {% if coupon %}
                                        <input class="uk-input" type="text" value="{{coupon}}" disabled>
                                        <button class="uk-button uk-margin-top uk-margin-right" type="button">COPY KEY</button>
                                        {% else %}
                                        <form method="POST">
                                                <input class="uk-input" type="text" name="ntcouponsc">
                                                <input type="hidden" name="type" value="65sdf65sddf5sdfasf6sdf3ffsd3fa3sfs3d5df4">
                                                {% csrf_token %}
                                                <button class="uk-margin-top uk-button" type="submit">UPDATE</button><button class="uk-button uk-margin-top uk-margin-right" type="button">COPY KEY</button>
                                        </form>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div uk-grid>
                <div class="uk-width-1-2@m">
                    <div class="nt-block">
                        <form method="POST">
                            <span class="nt-block-heading">Additional Settings</span>
                        </form>
                    </div>
                </div>
                <div class="uk-width-1-2@m">
                    <div class="nt-block">
                        <span class="nt-block-heading">IP Logs</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script>
    document.getElementsByClassName("projects")[0].classList.remove("uk-active");
    document.getElementsByClassName("profile")[0].classList.add("uk-active");
</script>
{% endblock %}